
body {
  font-family: 'kansasnew', serif;
  color: black;
  font-weight: normal;
  font-size: 150%;
}

h1 {
font-size: 300%;
}

/* wrapper and intro divs */

.wrapper {
  padding:10px;
  background-color: #F28907;
}

.intro {
  margin: 10px 10px;
  padding: 10px;
  border: dotted;
  border-color: #21BFBF;
  border-width: 10px;
}

/* divs for states with no pic */

.content-1 {
  display: flex;
  background-color: #F28907;
  flex-direction: column;
}

.content-1 div {
  margin: 10px 10px;
  padding: 10px;
  background-color: #F2A7A7;
  border: solid;
  border-color: #21BFBF;
}

/* divs for states with pics */

.content-2 {
  display: flex;
  background-color: #F28907;
  flex-direction: row;
}

.content-2 div {
  margin: 10px 10px;
  padding: 10px;
  background-color: #F2A7A7;
  border: solid;
  border-color: #21BFBF;
}

/* extra enhancements */

img {
  width: 450px;
  border-radius: 50%;
}


.ohio {
  width: 300px;
}

.caption {
  font-size: 75%;
  text-align: center;
}