
body {
  font-family: 'fine_college', serif;
  color: black;
  font-weight: normal;
  font-size: 150%;
  margin-bottom: 0px;
}

h1 {
font-size: 300%;
}

/* wrapper and intro divs */

.wrapper {
  padding:10px;
  background-color: #F28907;
}

.intro {
  text-align: center;
  margin: 10px 10px;
  padding: 10px;
}

/* divs for states with no pic */

.content-1 {
  display: flex;
  background-color: #F28907;
  flex-direction: column;
}

.content-1 div {
  margin: 10px 10px;
  padding: 10px;
  background-color: #F2A7A7;
  border: solid;
  border-color: black;
  border-radius: 25px;
}

/* divs for states with pics */

.content-2 {
  display: flex;
  background-color: #F28907;
  flex-direction: row;
}

.content-2 div {
  margin: 10px 10px;
  padding: 10px;
  background-color: #F2A7A7;
  border: solid;
  border-color: black;
  border-radius: 25px;
}

.aztext {
  display: flex;
  flex-direction: column;
}

.azpic {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.imagediv {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.connecticut {
  display: flex;
  align-content: center;
  justify-content: center;
}

/* extra enhancements */

img {
  width: 450px;
  border-radius: 50%;
}


.ohio {
  width: 300px;
}

.caption {
  font-size: 75%;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}