
body {
  background-color:  black;
}

section {
  display:  flex;
  flex-direction:  column;
  justify-content: center;
  align-items:  center;
  height:  100vh;
}

.button {
  padding: 20px 50px;
  background-color:  white;
  border-radius: 100px;
  color:  black;
  font-size:  60px;
  font-size: 20px;
  text-align:  center;
  transition:  all 100ms;
}

.button:hover {
  background-color: silver;
  cursor:  pointer;
}

.buttonOn {
  background-color:  black;
  color:  white;
}

.light {
  background-color: papayawhip;
}

.gradient {
	background-image: url(https://d2w9rnfcy7mm78.cloudfront.net/15349047/original_c767e8c60606ce5780f022ca74a8a04f.png?1645906850?bc=0)
}